<app-scape-generator
  [title]="'Create a Weather Nano Scape'"
  [description]="'Enter a city name to generate a beautiful miniature 3D scene that reflects its current weather conditions.'"
  [imageSrc]="'/assets/illustrations/nano-scape-logo-emblem.svg'"
  [imageAlt]="'Weather Scape Illustration'"
  [formInputLabel]="'City'"
  [formInputId]="'city'"
  [formControlName]="'city'"
  [formInputPlaceholder]="'e.g., Nairobi, Kenya'"
  [formInputError]="'City is required.'"
  [isLoading]="isLoading"
  [generatedImage]="generatedImage"
  [error]="error"
  [loadingMessage]="loadingMessagesService.currentMessage()"
  (generate)="generateImage($event)">
</app-scape-generator>
