.tabs {
  display: flex;
  justify-content: center;
  margin: 40px 0 20px 0;
}

.tab-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;

  &:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &.active {
    background-color: var(--color-primary);
    color: white;
    border-color: var(--color-primary);
  }
}
