.tabs {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* For Firefox */
  &::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
}

.tab-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;

  &:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &.active {
    background-color: var(--color-primary);
    color: white;
    border-color: var(--color-primary);
  }
}

@media (max-width: 600px) {
  .tabs {
    justify-content: flex-start;
  }
}
